html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
    background-color: #8a848b6b;
      background-image: url("img/fondnoel.jpg");

}
.ajtl{
      background-color: #8a848b6b;
      margin-left: 25%;
      margin-right:25%;
}
.ajt {
        background-color: #8a848b6b;
              margin-right:60%;
}
.menu {
    justify-content: space-between;
    display: inline-flex;
    flex-direction: row;
    width: 40%;
}

.titresss{
  margin-left: 50%;

}
.Listee {
  background-color: #9d9da7;
  margin-bottom: -2.3%;
}
.titreliste{
    margin-left: auto;
   margin-right: auto;
   width: 10em;
   margin-top: -0.5%;

}
.content{
  width: 100%;
  padding-top: -5%;
}

.fond {
  background-image: url("img/fondnoel.jpg");
  background-repeat: no-repeat;

  width: 100%;
  height: 100%;
}
.header, .headerrrrr {
    align-items: center;
    background-color:#9d9da7;
    width: 100%;
    display: flex;
    flex-direction: column;
}




ul.menu > li {
	list-style: none;
}

ul.menu > li > a {
	text-decoration: none;
	color: black;
}



.titreL{
    margin-left:5%;
}
img{
    margin-right: 2%;
    margin-bottom: 1%;
}
.item {
    display: flex;
}
.erreur{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

ul.menu > li:hover {
	background-color: #bcbcbf;
  font-weight: bold;
}


.titreH{
    background-color: #5b5d80;
    text-decoration: none;
    font-variant : small-caps;
    font-size : 200%;
    color: black;
}

.title {
  margin-top: 50px;
  width: 251px;
  margin-left: auto;
  margin-right: auto;
}
}
